@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
  --clr-red: hsl(0, 100%, 67%);
  --clr-orange: hsl(39, 100%, 56%);
  --clr-green: hsl(166, 100%, 37%);
  --clr-blue: hsl(234, 85%, 45%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-pale-blue: hsl(221, 100%, 96%);
  --clr-light-lavender: hsl(241, 100%, 89%);
  --clr-gray: hsl(224, 30%, 27%);

  --clr-red-bg: hsl(0, 100%, 67%, 5%);
  --clr-orange-bg: hsl(39, 100%, 56%, 5%);
  --clr-green-bg: hsl(166, 100%, 37%, 5%);
  --clr-blue-bg: hsl(234, 85%, 45%, 5%);

  --clr-light-slate-blue: hsl(252, 100%, 67%);
  --clr-light-royal-blue: hsl(241, 81%, 54%);
  --clr-violet-blue: hsla(256, 72%, 46%, 1);
  --clr-persian-blue: hsla(241, 72%, 46%, 0.3);

  --fs-100: 1rem;
  --fs-200: 1.125rem;
  --fs-400: 1.5rem;
  --fs-600: 2rem;
  --fs-700: 3.5rem;
  --fs-800: 4.5rem;

  --fw-500: 500;
  --fw-700: 700;
  --fw-800: 800;
  --ff-primary: 'Hanken Grotesk', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--ff-primary);
}

body {
  max-height: 100vh;
}

.container {
  background-color: var(--clr-white);
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  background-image: linear-gradient(var(--clr-light-slate-blue), var(--clr-light-royal-blue));
  color: var(--clr-white);
  border-radius: 0 0 32px 32px;
  padding: 1.5rem 3rem 2.5rem 3rem;
}

h1 {
  font-size: var(--fs-100);
  font-weight: var(--fw-500);
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-image: linear-gradient(var(--clr-violet-blue), var(--clr-persian-blue));
}

.score span {
  font-weight: var(--fw-800);
  font-size: var(--fs-700);
}

.score p:nth-of-type(2) {
  color: var(--clr-pale-blue);
  opacity: 50%;
}

.score-blurb {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.score-blurb h3 {
  font-size: var(--fs-400);
}

.score-blurb p {
  color: var(--clr-pale-blue);
}

.summary {
  padding: 2rem;
  color: var(--clr-gray);
}

.summary h2 {
  font-size: var(--fs-200);
  padding-bottom: 1.5rem;
}

.summary h3 {
  font-size: var(--fs-100);
  font-weight: var(--fw-500);
}

.reaction {
  background: var(--clr-red-bg);
}

.reaction h3 {
  color: var(--clr-red);
}

.memory {
  background: var(--clr-orange-bg);
}

.memory h3 {
  color: var(--clr-orange);
}

.verbal {
  background: var(--clr-green-bg);
}

.verbal h3 {
  color: var(--clr-green);
}

.visual {
  background: var(--clr-blue-bg);
}

.visual h3 {
  color: var(--clr-blue);
}

.reaction,
.memory,
.verbal {
  margin-bottom: 1rem;
}

.subscore p {
  color: grey;
  margin-left: auto;
}

.subscore span {
  font-weight: var(--fw-700);
  color: var(--clr-gray);
}

.subscore {
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
}

.subscore img {
  margin-right: 12px;
}

.summary button {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  background: var(--clr-gray);
  font-size: var(--fs-200);
  font-weight: var(--fw-700);
  border: none;
  padding: 1rem;
  margin-top: 24px;
  border-radius: 2rem;
}

.summary button:hover {
  cursor: pointer;
  background-image: linear-gradient(var(--clr-light-slate-blue), var(--clr-light-royal-blue));

}